.idea
sequence.fasta
protein-ribozom2.txt
**.gbk
csv-files/*
hits-files/*
gene_maping.json
multy_gene.fasta
try_for_table.pdf
my-csvvvvv.csv
Q9P0M9.csv
Q9P0M9_hits.fasta
Q9Y399.csv
Q9Y399_hits.fasta
multy_gene_specific.fasta
coroletion_mutaion_result.csv
