.idea
sequence.fasta
protein-ribozom2.txt
**.gbk
csv-files/*
hits-files/*
xml-files/*
seq-files/*
muscle-files/*
../bio_projects_files/gene_maping.json
../bio_projects_files/multy_gene.fasta
../bio_projects_files/try_for_table.pdf
../bio_projects_files/my-csvvvvv.csv
../bio_projects_files/Q9P0M9.csv
../bio_projects_files/Q9Y399.csv
../bio_projects_files/multy_gene_specific.fasta
../bio_projects_files/coroletion_mutaion_result.csv
